[commit]
  gpgsign = true

[core]
  fsmonitor = true
{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  sshCommand = ssh.exe
{{- end }}

[diff]
  tool = nvim

[difftool "nvim"]
  cmd = nvim -d "$LOCAL" "$REMOTE"

[fetch]
  prune = true
  writeCommitGraph = true

[gpg]
  format = ssh

[gpg "ssh"]
{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  program = "/mnt/c/Users/Eric/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"
{{- else }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}

[init]
  defaultBranch = main

[merge]
  tool = nvim

[mergetool "nvim"]
  cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE"

[pull]
  rebase = true

[rebase]
  updateRefs = true

[rerere]
  enabled = true

[tag]
  gpgSign = true

[user]
  email = contact@ericotsn.com
  name = Eric Ottosson
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDMnOYyqkEucM6WGm2kRscLWw7SKFTfuaJpPkiZeOECw

[includeIf "gitdir:~/Projects/work/"]
  path = ~/Projects/work/.gitconfig
