[commit]
  gpgsign = true

[core]
  fsmonitor = true

[diff]
  {{- if eq .chezmoi.os "darwin" }}
  tool = vscode
  {{- else }}
  tool = nvim
  {{- end }}

[difftool "nvim"]
  cmd = nvim -d "$LOCAL" "$REMOTE"

[difftool "vscode"]
  cmd = code --wait --diff "$LOCAL" "$REMOTE"

[fetch]
  prune = true
  writeCommitGraph = true

[gpg]
  format = ssh

[gpg "ssh"]
  {{- if eq .chezmoi.os "darwin" }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{- else }}
  program = "/opt/1Password/op-ssh-sign"
  {{- end }}

[init]
  defaultBranch = main

[merge]
  {{- if eq .chezmoi.os "darwin" }}
  tool = vscode
  {{- else }}
  tool = nvim
  {{- end }}

[mergetool "nvim"]
  cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE"

[mergetool "vscode"]
  cmd = code --wait "$MERGED"

[pull]
  rebase = true

[rebase]
  updateRefs = true

[rerere]
  enabled = true

[tag]
  gpgSign = true

[user]
  email = contact@ericotsn.com
  name = Eric Ottosson
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDMnOYyqkEucM6WGm2kRscLWw7SKFTfuaJpPkiZeOECw

[includeIf "gitdir:~/Developer/work/"]
  path = ~/Developer/work/.gitconfig
